<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDao">
    <select id="queryAll" resultType="User">
       SELECT id,name username,password FROM t_user
    </select>

    <select id="queryByNameAndPassword" parameterType="java.lang.String" resultType="User">
        SELECT name ,password from t_user where name = #{name} and password = #{password}
    </select>
    <select id="showAll" resultType="Menu">
        SELECT id,title FROM menu
    </select>


</mapper>







